apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: manar-app
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  
  source:
    repoURL: https://github.com/manaradel3812-creator/nti-cloud-final-project.git
    targetRevision: main
    path: helmchart
    helm:
      valueFiles:
        - values.yaml
      parameters:
        - name: image.repository
          value: "PLACEHOLDER_ECR_REPO"
        - name: image.tag
          value: "PLACEHOLDER_IMAGE_TAG"
        - name: replicaCount
          value: "2"
  
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: false
    syncOptions:
      - CreateNamespace=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
