apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: devops-website  # ⭐ أو سيبيها manar-app
  namespace: argocd
spec:
  project: default
  
  source:
    repoURL: https://github.com/YOUR_USERNAME/YOUR_REPO.git
    targetRevision: main
    path: helmchart
    helm:
      valueFiles:
        - values.yaml
      parameters:
        - name: image.repository
          value: "PLACEHOLDER_ECR_REPO"
        - name: image.tag
          value: "PLACEHOLDER_IMAGE_TAG"
        - name: replicaCount
          value: "2"
  
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
