persistence:
  enabled: false
postgresql:
  persistence:
    enabled: false
  primary:
    persistence:
      enabled: false
    containerSecurityContext:
      enabled: false
    podSecurityContext:
      enabled: false
securityContext:
  enabled: false
containerSecurityContext:
  enabled: false
sysctl:
  enabled: false
resources:
  requests:
    memory: "2Gi"
    cpu: "500m"
  limits:
    memory: "4Gi"
    cpu: "1000m"
