name: CD Pipeline

on:
  push:
    branches: [ main ]
  workflow_dispatch: # لتشغيل يدوي
    inputs:
      deploy_mode:
        description: 'اختر نوع النشر'
        required: true
        default: 'auto'
        type: choice
        options:
          - auto
          - manual

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      # 1️⃣ تسجيل الدخول إلى ECR (ضروري لـ Trivy)
      - name: Login to AWS ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2
        with:
          region: ${{ env.AWS_REGION }}


      # 2️⃣ Scan الصورة باستخدام Trivy
      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: '${{ steps.login-ecr.outputs.registry }}/hello-app:${{ github.run_number }}'
          format: 'table'
          exit-code: '1'
          ignore-unfixed: true
          vuln-type: 'os,library'
          severity: 'CRITICAL,HIGH'

      # 3️⃣ تحديث GitOps Repository (Helm values.yaml)
      - name: Update GitOps Repository
        if: github.event.inputs.deploy_mode == 'auto' || github.event_name == 'push'
        run: |
          git config --global user.email "action@github.com"
          git config --global user.name "GitHub Action"

          git clone https://${{ secrets.GITOPS_TOKEN }}@github.com/manaradel3812-creator/nti-cloud-final-project.git
          cd gitops-repo

          # تحديث التاج في Helm values.yaml
          sed -i "s/tag: .*/tag: \"${{ github.run_number }}\"/g" charts/hello-app/values.yaml

          git add .
          git commit -m "Update image tag to ${{ github.run_number }} [skip ci]"
          git push origin main

      # 4️⃣ Apply Argo CD Application YAML (اختياري إذا مش موجود ArgoCD)
      - name: Apply ArgoCD Application
        run: |
          kubectl apply -f k8s-configs/argocd-app.yaml
