name: Workflow Name

on: 
  workflow_dispatch:
    inputs:
      env:
        description: "Environment"
        required: true
        default: nonprod
      destroy:
        description: "Destroy infrastructure?"
        required: true
        default: false

env:
  AWS_REGION: us-east-1
  TF_DIR: terraform

jobs:
  job_name:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Some step
        run: echo "Hello"
