name: Terraform Pipeline

on:
  workflow_dispatch:
    inputs:
      env:
        description: 'Environment'
        required: true
        default: 'nonprod'
        type: choice
        options:
          - nonprod
          - prod
      destroy:
        description: 'Destroy Infrastructure?'
        required: true
        default: 'false'
        type: boolean

env:
  TF_DIR: terraform
  AWS_REGION: us-east-1
  TF_VERSION: '1.5.7'

jobs:
  terraform:
    name: Terraform Apply/Destroy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v2
