name: Terraform Infra

on:
  workflow_dispatch:
    inputs:
      env:
        description: 'Environment'
        required: true
        default: 'nonprod'

env:
  TF_DIR: terraform
  TF_VERSION: '1.5.7'

jobs:
  terraform:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: ${{ env.TF_VERSION }}

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Terraform Init
        run: |
          cd ${{ env.TF_DIR }}
          terraform init -input=false

      - name: Terraform Apply
        run: |
          cd ${{ env.TF_DIR }}
          terraform apply -auto-approve -input=false

      # حفظ outputs كـ artifact
      - name: Save Terraform outputs
        run: |
          cd ${{ env.TF_DIR }}
          terraform output -json > tf_outputs.json
        # نشر artifact
      - uses: actions/upload-artifact@v3
        with:
          name: terraform-outputs
          path: ${{ env.TF_DIR }}/tf_outputs.json
